---
import Window from "../../components/Window.astro";
---

<section class="relative flex w-full">
    <Window title="Contact me">
        <p class="text-gray-200 leading-relaxed pt-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>       
    </Window>
    
</section>
