---

---

<section class="relative flex w-full">
    <div class="flex flex-row max-w-4xl mx-auto p-6 mt-24 mb-24 gap-20 rounded-xl bg-white/20 shadow-lg backdrop-blur-md">
        Projects come here
    </div>
    
</section>
