<header class="fixed top-0 w-full text-white mx-auto">
    <nav class="flex items-center px-6 py-4 mt-4 text-sm justify-between max-w-4xl mx-auto border rounded-xl border-blue-900">
        <div class="hidden md:flex flex-row gap-4 justify-start">
            <a href="/" class="inline-block text-lg">DiegoMZ</a>    
        </div>
        <div class="hidden md:flex flex-row items-end gap-6">
            <a href="/" class="inline-block">About me</a>
            <a href="/" class="inline-block">Projects</a>
            <a href="/" class="inline-block">Contact</a>
        </div>
    </nav>
</header>

<style>
    header {
        background: transparent;
    }
</style>
